@import "tailwindcss";

.text-primary {
    color: #7d00fa;
}

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}